@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto Condensed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav {
    color: white;
}
/* Bootstrap Override */
.navbar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F18D05;
    color: white;
    font-family: Roboto Condensed;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-default .nav-pills > li > a {
    color: white;
}

/* End of Bootstrap Override */

.home-splash {
    height: 300px;
    background-color: grey;
    color: white;
    font-size: 64pt;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.logo-splash {
    height: 300px;
    font-size: 64pt;
    text-align: center;
    padding-top: 70px;
    margin-top: 10px;
    border-radius: 5px;
}

.centered {
    text-align: center;
}

/* User Setup Form */
.setup-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.setup-header {
    color: grey;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto Condensed;
}

.thank-you-header {
    padding-top: 100px;
    color: grey;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto Condensed;
}

.setup-textbox {
    color: #F18D05;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    min-width: 500px;
}

.form-wrapper{
    margin:0 auto;
}

.form_wrapper form{
    display: none;
}

form.active{
    display: block;
}

form.name-form {
    width: 100%;
}

form.email-form {
    width: 100%;
}

form.create-password-form {
    width: 100%;
}

form.confirm-password-form {
    width: 100%;
}

.next-button {
    height: 100px;
    width: 300px;
    background-color: white;
    border-color: grey;
    color: grey;
    font-size: 48px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid #808080;
}

.next-button:hover {
    color: #F18D05;
    border: 5px solid #F18D05;
}