@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto Condensed;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav {
    color: white;
}

.copyright-footer {
    padding-left: 1%;
    font-size: 12px;
}
/* Bootstrap Override */
.navbar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F18D05;
    color: white;
    font-family: Roboto Condensed;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-default .nav-pills > li > a {
    color: white;
}

/* End of Bootstrap Override */

.home-splash {
    height: 300px;
    background-color: grey;
    color: white;
    font-size: 64pt;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.logo-splash {
    height: 300px;
    font-size: 64pt;
    text-align: center;
    padding-top: 70px;
    margin-top: 10px;
    border-radius: 5px;
}

.centered {
    text-align: center;
    margin: auto;
}

/* User Setup Form */
.setup-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.setup-header {
    color: #424242;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto Condensed;
}

.thank-you-header {
    padding-top: 100px;
    color: grey;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto Condensed;
}

.setup-textbox {
    color: #F18D05;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    min-width: 600px;
}

.form_wrapper {
    margin: 0 auto;
}

    .form_wrapper form {
        display: none;
    }

form.active {
    display: block;
}

form.name-form {
    width: 100%;
}

form.email-form {
    width: 100%;
}

form.create-password-form {
    width: 100%;
}

form.confirm-password-form {
    width: 100%;
}

.next-button {
    height: 100px;
    width: 300px;
    background-color: white;
    border-color: grey;
    color: grey;
    font-size: 48px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid #808080;
}

    .next-button:hover {
        color: #F18D05;
        border: 5px solid #F18D05;
    }

/* Scheduler */

.centered-glyphicon {
    color: #F18D05;
    font-size: 96px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
}

.scheduler-greeting {
    text-align: center;
    font-size: 144px;
    color: grey;
    padding-bottom: 100px;
}

.scheduler-container {
    width: 100%;
    padding-bottom: 100px;
}

.help-icon-inline {
    padding-right: 10px;
    color: #F18D05;
}

.big-search-box {
    color: #F18D05;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    min-width: 500px;
}

.scheduler-search-help {
    color: grey;
    font-size: 24px;
    text-align: center;
    vertical-align: bottom;
}

.scheduler-textbox {
    color: #F18D05;
    text-align: center;
    font-size: 48pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    min-width: 90%;
}

.textbox-alternative {
    color: #F18D05;
    font-size: 36px;
    text-align: center;
}

    .textbox-alternative:hover {
        color: grey;
    }

.orange-link {
    color: #F18D05;
}

    .orange-link:hover {
        color: grey;
    }

.large-not-found {
    color: #F18D05;
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-not-found-icon {
    color: #F18D05;
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
}

/* Vertical Navbar (File Browser) */

.profile-pic {
    max-width: 100px;
    max-height: 100px;
}

.vert-navbar-body {
    height: 100%;
    background-color: #424242;
    position: absolute;
}

.circle-button {
    border-radius: 50%;
    background-color: #F18D05;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
}

.settings-nav-button {
    color: white;
    font-size: 24px;
    width: 100px;
    height: 50px;
    position: relative;
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

    .settings-nav-button :hover {
        background-color: #a09e9e;
        width: 100px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

/* Notebook File Browser */
.file-browser-container {
    height: 100%;
    width: 100vw;
    padding: 0;
    padding-left: 30px;
}

.notebook-no-selection {
}

.add-item-container {
    margin-left: 35%;
    margin-top: 10%;
}

.circle-button-horizontal {
    border-radius: 50%;
    background-color: #F18D05;
    height: 80px;
    width: 80px;
    color: white;
    font-size: 42px;
    text-align: center;
    margin-left: 50px;
}

.button-glphyicon {
    padding-top: 20%;
}

.browser-header {
    display: inline;
    position: absolute;
    margin-top: -105px;
    margin-left: 20px;
    display: inline-block;
}

.circle-label {
    border-radius: 50%;
    background-color: #F18D05;
    height: 80px;
    width: 80px;
    color: white;
    font-size: 42px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-right: 30px;
    position: absolute;
}

.browser-form_wrapper {
    margin: 0 auto;
}

    .browser-form_wrapper form {
        display: none;
    }

.info-container {
    font-size: 14px;
    color: grey;
    height: 100%;
    width: 100vw;
    position: absolute;
    padding-left: 400px;
    padding-top: 30px;
    display: flexbox;
}

.browser-title {
    color: #454545;
    font-size: 48pt;
    min-width: 600px;
    padding-top: 5px;
    padding-left: 100px;
    position: absolute;
}

.class-folder {
    background-color: #EEEEEE;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin: 20px;
    display: block;
    padding: 0;
}

.item-label {
    height: 14%;
    width: 100%;
    background-color: #F18D05;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    text-align: center;
}

.item-preview {
    height: 86%;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    justify-content:center;
    align-items: center;
    font-size: 64px;
    text-align: center;

}

.preview-image-landscape {
    flex-shrink: 0;
    height: 100%;
}

.preview-image-portrait {
    flex-shrink: 0;
    width: 100%;
}


.no-preview-file {
    padding-top: 15%;
    color: white;
}