@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form id="age-form" class="age-form">
        <div class="setup-container">
            <h1 class="setup-header">How old are you?</h1>
            <p class="setup-textbox">
                <input type="text" class="setup-textbox" />
            </p>
        </div>
        <input class="linkform" type="submit" style="position: absolute; width: 1px; height: 1px; left: -9999px;" tabindex="-1" />
    </form>
</body>
</html>
