@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Home/_LandingLayout.cshtml";
}

<div>
    <form class="name-form">
        <div class="setup-container">
            <h1 class="setup-header">What is your full name?</h1>
            <p class="setup-textbox">
                <input type="text" class="setup-textbox" />
            </p>
        </div>
        <input id="formSubmit" type="submit" style="position: absolute; width: 1px; height: 1px; left: -9999px;" tabindex="-1"/>
    </form>
</div>
