@model Scrawl.Models.NotebookModel

@{
    ViewBag.Title = "Your Notebook";
    Layout = "~/Views/Shared/_FileBrowserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
