@{
    ViewBag.Title = "Hey there!";
    Layout = "_LandingLayout.cshtml"; //changed layout page since we want different navbar on the landing page
}

<div class="container-fluid img-responsive"> @* TODO: add animation that "minimizes" this image to reveal some info below*@
    <img class="img-responsive" src="ScrawlHeader.png"/> @*TODO: Replace with cleaner PNG*@
</div>

<div class="home-splash">
    //INFO GOES HERE
</div>